<div id="header">
  <div id="fork-me"><a href="http://github.com/newbamboo/pusher-presence-demo">Fork me on GitHub</a></div>

  <div id="controls">
    <% if @identity.nil? %>
      <h2>You are currently anonymous</h2>
      <form action="/identity" method="POST">
        <input name="email" placeholder="Add your email to get a Gravatar" type="email">
        <input type="submit" value="Add my Gravatar">
      </form>
    <% else %>
      <%= link_to 'remove yourself', identity_path, :method=> 'delete' %>
    <% end %>
  </div>
</div>

<div id="presence"></div>
