body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#header {
  height: 150px;
  padding: 20px 20px 0px 20px;
}
#header .pusher {
  float: left;
  margin-right: 15px;
}
#header img {
  border: none;
}

#controls {
  padding: 15px 0 0;
}
#controls h2 {
  color: #222;
  font-size: 100%;
  margin: 0 0 3px;
}
#controls input[type=email] {
  font-size: 14px;
  margin-right: 5px;
  padding: 4px;
  width: 240px;
}

#presence {
  padding: 15px 40px;
}
#presence .member {
  background: #fff url("/images/question_mark.png") no-repeat center center;
  border: 1px solid #eee;
  border-radius: 3px;
  display: block;
  float: left;
  height: 80px;
  margin: 0 40px 40px 0;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 80px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
}
#presence .typing {
  background: white;
  border: 2px solid #333;
  border-radius: 10px;
  font-family: "Comic Sans", "Comic Sans MS", cursive;
  padding: 0px 6px;
  position: absolute;
  right: -10px;
  top: 80px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
}
#presence .me {
  background: yellow;
  border-color: orange;
}
#presence .no-gravatar {
  height: 40px;
  padding: 30px 10px;
}
#presence .bubble {
  background: white;
  border: 3px solid #333;
  border-radius: 10px;
  font-family: "Comic Sans", "Comic Sans MS", cursive;
  padding: 2px 6px;
  position: absolute;
  right: -20px;
  top: -10px;
  max-width: 120px;
  word-wrap: break-word;
  -moz-border-radius: 10px;
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
}

#fork-me {
  position: absolute;
  right: 0;
  top: 0;
}
#fork-me a {
  background: url("/images/fork_me.png") no-repeat 0 0;
  display: block;
  height: 149px;
  text-indent: -9999px;
  width: 149px;
}
