<html>
<head>
  <script src="<%= PUSHER_JS_DOMAIN %>/1.6/pusher.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    Pusher.host = '<%= PUSHER_SOCKET_HOST %>';
    
    // bit of a hack
    var socket = new Pusher('<%= Pusher.key %>');
    
    socket.bind('connection_established', function(evt){
      jQuery.ajaxSetup({
        data: {
          socket_id: evt.socket_id
        }
      })
    });
    
  </script>
</head>
<body>
  <%= yield %>
</body>
</html>